.card{
    margin-right: 10px;
    padding: 5px 15px;
}

.card a:hover{
    text-decoration: none;
}


main{
    margin: 10px 60px;
}

.form-inline, .btn-outline-light{
    margin-left: 10px;
}

.header-links{
    color: white;
}


.tags{
    color: #007bff; 
}

a {
    margin-left: 10px;
}

.form-group {
    width: 70%;
}

#loginForm .form-group{
    width: 100%;
}

 #signupForm .form-group {
    width: 45%;
    margin-right: 10px;
  }

.container {
    margin-bottom: 30px;
    background-color: rgb(241, 239, 239);
}

.loginform {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

#edit-card {
    padding: 10px 10px;
}

footer{
    text-align: right;
    margin: 60px 10px;
    padding: 20px 10px;
    background-color: rgb(214, 210, 210);
}